{% extends 'base.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/main/homepage.js') }}" type="module"></script>
{% endblock %}


{% block body %}
	<h1>Welcome home</h1>
	<section>
		<h2>List of rooms:</h2>
		
	</section>
{% endblock body %}