@use "./vars.scss";

.header
{
	width: 1080px;
	margin: 0px auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}
.headerLink 
{
	display: block;
	margin: 10px 0px;
}

.nav
{
	width: 1080px;
	margin: 0px auto;
	display: flex;
	flex-flow: row nowrap;
	background: rgba(0, 0, 0, .9);
}
.navDiv
{
	flex: 1 0 0;
	display: flex;
	justify-content: center;
}
.navLink
{
	margin: 5px;
	color: #fff;
}
.navLink:hover .navLinkMain
{ 
	color: #f00;
}
.navLinkMain
{
	letter-spacing: 1px;
	font: small-caps 20px / 20px vars.$font;
}
.navLinkSub
{
	font: normal 12px / 12px vars.$font;
}

.footer
{
	width: 1080px;
	margin: 0px auto;
	padding: 5px 0px;
	display: flex;
	flex-flow: row nowrap;
	border-top: double 3px #000;
}
.footerLeft
{
	flex: 1 0 0;
	text-align: right;
	font: 14px / 18px vars.$font;
}
.footerLogo
{
	width: 30px;
	height: 30px;
	margin: 3px 10px;
}
.footerRight
{
	flex: 1 0 0;
	font: normal 12px / 12px vars.$font;
	text-align: left;
}