$font: 'Arial', sans-serif;

$layout-base-width: 1080px;
$input-focus-border-color: rgba(255, 0, 0, 1);

$background-color-one: rgba(72, 184, 178, 1.0);
$background-color-two: rgba(78, 156, 226, 1.0);


