@use "../../styles/vars.scss";
@use "./fragments.module.scss";

.footer
{
	@extend %fragment;
	flex: 0 0 auto;
	padding: 5px 0px 0px 0px;
	margin: 0px 0px 5px 0px;
	display: flex;
	flex-flow: row nowrap;
	border-top: double 3px #000;
}
.footerLeft
{
	flex: 1 0 0;
	text-align: right;
	font: 14px / 18px vars.$font;
}
.footerLogo
{
	width: 30px;
	height: 30px;
	margin: 3px 10px;
}
.footerRight
{
	flex: 1 0 0;
	font: normal 12px / 12px vars.$font;
	text-align: left;
}