@use "../../styles/vars.scss";
@use "../layoutBase.module.scss";

.header
{
	@extend .layoutFragment;
	flex: 0 0 auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}
.headerLink 
{
	display: block;
	margin: 10px 0px;
}