@use "../../styles/vars.scss";


.reservation
{
	margin: 10px 10px 0px 10px;
}
.formHeader
{
	margin: 0px 0px 5px 0px;
	font: bold 22px vars.$font;
}
.form
{
	display: flex;
	flex-flow: row nowrap;
}
.fieldset
{
	border: 0px;
	padding: 0px;
	margin: 0px;
	display: block;
}
.fields
{
	@extend .fieldset;
	display: flex;
	flex-flow: row wrap;
	flex: 1 0 0;
}
.button
{
	@extend .fieldset;
	flex: 0 0 100px;
}
.inputDiv
{
	position: relative;
}
.inputLabel
{
	position: absolute;
	top: 3px; left: 5px;
	font: 11px / 11px vars.$font;
	white-space: nowrap;
	overflow: hidden;
}
.inputInput
{
	width: 100%;
	height: 50px;
	font: 16px / 16px vars.$font;
	padding: 5px 0px 0px 10px;
	&:focus{
		outline: none;
		border: solid 1px vars.$input-focus-border-color;
	}
}
.peopleAmount
{
	flex: 0 0 33%;
}
.roomsAmount
{
	flex: 0 0 33%;
}
.contact
{
	flex: 0 0 34%;
}
.checkInAt
{
	flex: 0 0 50%;
}
.checkOutAt
{
	flex: 0 0 50%;
}

.submit
{
	width: 100%;
	height: 100%;
	font: bold 16px / 100wh vars.$font;
	cursor: pointer;
}
