@use "../../styles/vars.scss";
@use "./forms.module.scss";

.reservation
{
	margin: 10px 10px 0px 10px;
}
.formHeader
{
	margin: 0px 0px 5px 0px;
	font: bold 22px vars.$font;
}
.form
{
	@extend %form;
}
.fields
{
	@extend %fieldset;
	display: flex;
	flex-flow: row wrap;
	flex: 1 0 0;
}
.button
{
	@extend %fieldset;
	flex: 0 0 100px;
}
.peopleAmount
{
	flex: 0 0 50%;
	@media (min-width: vars.$rwd-breakpoint-mobile) { flex: 0 0 33%; }
}
.roomsAmount
{
	flex: 0 0 50%;
	@media (min-width: vars.$rwd-breakpoint-mobile) { flex: 0 0 33%; }
}
.contact
{
	flex: 0 0 100%;
	@media (min-width: vars.$rwd-breakpoint-mobile) { flex: 0 0 34%; }
}
.checkInAt
{
	flex: 0 0 100%;
	@media (min-width: vars.$rwd-breakpoint-mobile) { flex: 0 0 50%; }
}
.checkOutAt
{
	flex: 0 0 100%;
	@media (min-width: vars.$rwd-breakpoint-mobile) { flex: 0 0 50%; }
}
.submit
{
	width: 100%;
	height: 100%;
	font: bold 16px / 100wh vars.$font;
	cursor: pointer;
	&:disabled{
		cursor: auto;
	}
}
.waiting
{
	width: 50%;
	height: 50%;
	margin: auto;
}

.response
{
	$padding: 10px;
	position: absolute;
	z-index: 2;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	left: $padding; top: $padding;
	width: calc(100% - $padding * 2);
	height: calc(100% - $padding * 2);
}
.response button
{
	margin-left: auto;
}
.error
{
	@extend .response;
	background: #eee;
}
.success
{
	@extend .response;
	background: #eee;
}
