@use "../../styles/vars.scss";

$height: 50px;
$background: #fefefe;
$border-color: #000;
$focus-border-color: rgb(0, 0, 255);
$invalid-font-color: #f00;
$invalid-border-color: #f00;

%outer
{
	position: relative;
	height: $height;
	overflow: hidden;
	background: $background;
	border: solid 1px #000;

	&.invalid { border: solid 1px $border-color; }
	&:focus-within{ border: solid 1px $focus-border-color; }
}
%label
{
	position: absolute;
	top: 4px; left: 5px;
	font: 11px / 11px vars.$font;
	white-space: nowrap;
	
	.invalid & { color: $invalid-font-color; }
}
%input
{
	width: 100%;
	height: 50px;
	font: 16px / 16px vars.$font;
	padding: 6px 0px 0px 10px;
	border: none;
	outline: none;
	
	&:focus{ outline: none; }
}